<p-table [value]="standings">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th></th>
      <th>Name</th>
      <th>Games</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>Goal Difference</th>
      <th>Points</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rank>
    <tr>
      <td>{{ rank.rank }}</td>
      <td>
        <img
          [src]="rank.team.logo"
          style="width: 30px; height: auto"
          alt="logo"
        />
      </td>
      <td>
        <a [routerLink]="[rank.team.id]">{{ rank.team.name }}</a>
      </td>
      <td>{{ rank.all.played }}</td>
      <td>{{ rank.all.win }}</td>
      <td>{{ rank.all.lose }}</td>
      <td>{{ rank.all.draw }}</td>
      <td>{{ rank.goalsDiff }}</td>
      <td>{{ rank.points }}</td>
    </tr>
  </ng-template>
</p-table>
