<div class="flex justify-content-center">
  <span class="p-buttonset">
    <button
      pButton
      pRipple
      [id]="(league.name | lowercase) + 'Select'"
      *ngFor="let league of leagues"
      class="p-button-outlined"
      [routerLink]="['/', league.id]"
    >
      <img
        alt="logo"
        src="https://media.api-sports.io/football/leagues/{{ league.id }}.png"
        style="height: 1.5rem"
      />
      <span class="ml-2 font-bold">{{ league.name }}</span>
    </button>
  </span>
</div>

<router-outlet></router-outlet>
